<p id="notice"><%= notice %></p>

<h1>Libro</h1>
<p>
  <strong>Título: </strong>
  <%= @book.title %>
</p>
<p>
  <strong>Autor: </strong>
  <%= @book.author %>
</p>
<p>
  <strong>Estado: </strong>
  <%= @book.status %>
</p>
<p>
  <strong>Fecha de préstamo: </strong>
  <%= @book.lending_date %>
</p>
<p>
  <strong>Fecha de devolución: </strong>
  <%= @book.return_date %>
</p>

<%= link_to 'Volver', root_path %>